<h2>VoICE-MR</h2>
<!-- <div class="clearfix float-my-children">
    <div class="text-display-left">West Virginia University’s (WVU) Center for Alternative Fuels, Engines and Emissions (CAFEE), Clean Cities Coalition (CCC) 
        from the regions of West Virginia, Coachella Valley, CA, Pittsburgh region and the Western Riverside Council of Governments, 
        CA and Wale Associates Corporation. jointly propose a study to develop a tool to estimate the vocation dependent variations 
        in maintenance cost (MC) of heavy- and medium-duty vehicles fueled by alternative fuels that include natural gas, propane, and 
        electric. South Coast Air Quality Management District (SCAQMD) and Southern California Gas Company (SoCal Gas) have jointly 
        approved a cash contribution towards this proposed study and will be a key partner in this study. SCAQMD and SoCal gas believe 
        that the outcomes of the study will have significant impact in increasing the awareness and acceptance of alternative fueled 
        vehicles (AFV), in-specific natural gas vehicles in the Southern California region. Vocation Integrated Cost Estimate (VoICE) 
        for maintenance and repair (MR) to compare cost estimates of AFV with conventional diesel vehicles of the same vocation to 
        illustrate vocation-specific benefit of adopting AFVs. </div>
    <img class="img-display-right" src="../../assets/images/schoolbus.JPG">
 </div>
 
 <div class="clearfix float-my-children">
    <img class="img-display-left" src="../../assets/images/device.jpg">
    <div class="text-display-right">The proposed study will in specific address medium- and heavy-duty vehicles 
        operating in urban delivery, port drayage, school buses, refuse trucks and transit bus applications. This comprehensive study has 
        enabled a close partnership of WVU CAFEE with several port drayage truck fleets, food distribution, refuse, transit agencies, school 
        districts and beverage distribution fleets. These fleet partners operate a combination of natural gas, propane, electric and 
        diesel-powered vehicles of different model years, vehicle manufacturers and technology development levels</div>
 </div> -->
 <!-- <div class="clearfix">
    <section>
        <img src="../../assets/images/schoolbus.JPG">
        <p>West Virginia University’s (WVU) Center for Alternative Fuels, Engines and Emissions (CAFEE), Clean Cities Coalition (CCC) 
          from the regions of West Virginia, Coachella Valley, CA, Pittsburgh region and the Western Riverside Council of Governments, 
          CA and Wale Associates Corporation. jointly propose a study to develop a tool to estimate the vocation dependent variations 
          in maintenance cost (MC) of heavy- and medium-duty vehicles fueled by alternative fuels that include natural gas, propane, and 
          electric. South Coast Air Quality Management District (SCAQMD) and Southern California Gas Company (SoCal Gas) have jointly 
          approved a cash contribution towards this proposed study and will be a key partner in this study. SCAQMD and SoCal gas believe 
          that the outcomes of the study will have significant impact in increasing the awareness and acceptance of alternative fueled 
          vehicles (AFV), in-specific natural gas vehicles in the Southern California region. Vocation Integrated Cost Estimate (VoICE) 
          for maintenance and repair (MR) to compare cost estimates of AFV with conventional diesel vehicles of the same vocation to 
          illustrate vocation-specific benefit of adopting AFVs.
        </p>
        <p>The proposed study will in specific address medium- and heavy-duty vehicles 
            operating in urban delivery, port drayage, school buses, refuse trucks and transit bus applications. This comprehensive study has 
            enabled a close partnership of WVU CAFEE with several port drayage truck fleets, food distribution, refuse, transit agencies, school 
            districts and beverage distribution fleets. These fleet partners operate a combination of natural gas, propane, electric and 
            diesel-powered vehicles of different model years, vehicle manufacturers and technology development levels
        </p>
        <img src="../../assets/images/device.jpg">

    </section>
</div> -->


<div class="aligned">
    <img src="../../assets/images/schoolbus.JPG" width="25%">
          
    <span>West Virginia University’s (WVU) Center for Alternative Fuels, Engines and Emissions (CAFEE), Clean Cities Coalition (CCC) 
        from the regions of West Virginia, Coachella Valley, CA, Pittsburgh region and the Western Riverside Council of Governments, 
        CA and Wale Associates Corporation. jointly propose a study to develop a tool to estimate the vocation dependent variations 
        in maintenance cost (MC) of heavy- and medium-duty vehicles fueled by alternative fuels that include natural gas, propane, and 
        electric. South Coast Air Quality Management District (SCAQMD) and Southern California Gas Company (SoCal Gas) have jointly 
        approved a cash contribution towards this proposed study and will be a key partner in this study. SCAQMD and SoCal gas believe 
        that the outcomes of the study will have significant impact in increasing the awareness and acceptance of alternative fueled 
        vehicles (AFV), in-specific natural gas vehicles in the Southern California region. Vocation Integrated Cost Estimate (VoICE) 
        for maintenance and repair (MR) to compare cost estimates of AFV with conventional diesel vehicles of the same vocation to 
        illustrate vocation-specific benefit of adopting AFVs.
        <br>
        <br>
        <div class="aligned">
            <span>
            The proposed study will in specific address medium- and heavy-duty vehicles 
            operating in urban delivery, port drayage, school buses, refuse trucks and transit bus applications. This comprehensive study has 
            enabled a close partnership of WVU CAFEE with several port drayage truck fleets, food distribution, refuse, transit agencies, school 
            districts and beverage distribution fleets. These fleet partners operate a combination of natural gas, propane, electric and 
            diesel-powered vehicles of different model years, vehicle manufacturers and technology development levels.
            </span>
            <img src="../../assets/images/device.jpg" width="15%">
        </div>
        
    </span>
</div>