 .main-container {
  display: block;
  flex-direction: column;
  color: #002b5c;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 50px;
  text-align: justify;
}

mat-divider {
  margin-top: 15px;
  color:#002b5c;
}

#sect1 {  
  height: 100%;  
  /* color: #fff; */
  background-image: url("../assets/images/background.jpg");  
  background-size: 100% ;  
  background-size: cover;  
  border-style:inset;
} 