.navbar{
  /* color: white; */
  background-image: url("../../assets/images/sidenav-background.jpg");
  background-size: 100% ;  
  background-size: cover; 
}

.dropdown-menu{
  background-image: url("../../assets/images/sidenav-background.jpg");
  background-size: 100% ;  
  background-size: cover; 
}

.dropdown-item{
  background:transparent;
  color: white ; 
}

.dropdown-divider{
  background-color: #002b5c;
}

.main-container {
  display: block;
  flex-direction: column;
  /* background: white; */
  color: #002b5c;
  height: 100%;
  margin: 20px;
  text-align: justify;
}

.img-sponsor {
  max-width: 100% !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

  