	<!-- <mat-sidenav-container>
		<mat-sidenav mode="side" opened="true">
			<button mat-button class="menu-button" routerLink="/"> <mat-icon>home</mat-icon> HOME</button>
			<mat-divider></mat-divider>
			<button mat-button class="menu-button" [matMenuTriggerFor]="voicemr"> <mat-icon>info</mat-icon>VoICE-MR</button>
			<mat-menu #voicemr="matMenu">
				<button mat-menu-item routerLink="/aboutvoicemr">About VoICE-MR</button>
				<button mat-menu-item routerLink="/voicemrgoal">VoICE-MR Goal</button>
			</mat-menu>
			<mat-divider></mat-divider>
			<button mat-button class="menu-button" routerLink="/signin"> <mat-icon>person</mat-icon> Sign In</button>	
		</mat-sidenav>
		<div class="main-container">
		  <router-outlet></router-outlet>
		</div>
	</mat-sidenav-container>
 -->

 <div class="wrapper">
	<nav id="sidebar">
		<ul class="list-unstyled components">
			<li class="active"><a routerLink="/"> <mat-icon>home</mat-icon> HOME</a></li>
			<li><!-- Link with dropdown items -->
				<a href="#submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><mat-icon>info</mat-icon> VoICE-MR</a>
				<ul class="collapse list-unstyled" id="submenu">
					<li><a routerLink="/aboutvoicemr">About VoICE-MR</a></li>
					<li><a routerLink="/voicemrgoal">VoICE-MR Goal</a></li>
				</ul>
			<li><mat-divider></mat-divider></li>
			<li><a routerLink="/signin"><mat-icon>person</mat-icon> Sign In</a></li>
			<!-- <li><a routerLink="/vehicle"><mat-icon>commute</mat-icon> Vehicle</a></li> -->
		</ul>
	</nav>
	<div id="sect1">
		<router-outlet></router-outlet>
	 </div>
</div>