    <h2>VoICE-MR (Vocation Integrated Cost Estimation for Maintenance and Repair)</h2>
    <p class="p1">
        West Virginia University’s (WVU) Center for Alternative Fuels, Engines and Emissions (CAFEE), Clean Cities Coalition (CCC) from the 
        regions of West Virginia, Coachella Valley, CA, Pittsburgh region and the Western Riverside Council of Governments, CA and 
        Wale Associates Corporation, jointly propose a study to develop a tool to estimate the vocation dependent variations in maintenance 
        cost (MC) of heavy- and medium-duty vehicles fueled by alternative fuels that include natural gas, propane, and electric.
    </p>
    <img class="img-sponsor" src="./assets/images/sponserers.PNG">
    
    <!-- <img class="img-sponsor" src="./assets/images/sponsors/wv.png">
    <img class="img-sponsor" src="./assets/images/sponsors/wrcog.png">
    <img class="img-sponsor" src="./assets/images/sponsors/cvr.png">
    <img class="img-sponsor" src="./assets/images/sponsors/wvdoe.png">
    <img class="img-sponsor" src="./assets/images/sponsors/PRCC.png">
    <img class="img-sponsor" src="./assets/images/sponsors/AQMD.png">
    <img class="img-sponsor" src="./assets/images/sponsors/SCG.png">
    <img class="img-sponsor" src="./assets/images/sponsors/PERC.png"> -->